.login-container{
    box-shadow: 0 0 50px black;
    padding: 15px;
    width: 60%;
    height: 40%;
    position: relative;
    top: 25%;
    left: 40%;
}
.carousel{
    position: relative;
    top: 20%;
}