{% include 'user/base.html' %}
{% load static %}
{% if request.session.page %}
<script>
    $('.nav-link').removeClass('active')
    $('#'+'{{request.session.page}}').addClass('active')
</script>
{% endif %}
{% if validation %}
<script>
    Swal.fire({
  position: 'top-end',
  icon: 'error',
  title: '{{validation}}',
  showConfirmButton: false,
  timer: 1500
})
</script>
{% endif %}
{% block content %}
<div class="container w-100">
    <div class="row">
      <div class="col">
        <h1 style="position:relative;   top:10%; left:2%;">Register an account and be a Member</h1>
        <br>
        <div class="register-container rounded-2">
            <form class="form-floating" method="POST" action="{% url 'post_company_register' %}">
              {% csrf_token %}
              <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Company name" name="company_name" required>
                    <label for="floatingInput">Company name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="address" name="address" required>
                <label for="floatingInput">Company Address</label>
              </div>  
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" required> 
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating  mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password" name="confirm_password" required>
                <label for="floatingPassword">Confirm Password</label>
              </div>
              <br>
              <br>
                <button type="submit" class="btn btn-secondary  w-100" name="register">Register</button>
                <br>
                <br>
                <br>
                <p class="fw-lighter" style="font-size: 12px;">Register an account and be a member of our community. Post and Share Job Vacancies!</p>
                Register as an Applicant <a href="{% url 'register' %}">Here</a>
            </form>
        </div>
      </div>
      <div class="col" style="height: 100vh; text-align: c;">
        <img src="{% static 'images/company.jpeg' %}" alt="" style="width: 100%; position: relative; top:20%; left: 20%;">
      </div>
    </div>
  </div>
{% endblock %}